table{
    width: 100%;
}

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

.stepper-main-container {
    max-width: 1248px; // 1200px + 24px margin from stepper and all angular material stuff
    margin: 88px auto 0 auto;
    background-color: transparent;
   
  }
  